* {
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
#btn,
#copy-btn,
#copy-btn2 {
  background: #000;
  color: white;
  padding: 6px 10px;
}
#input,
#input2 {
  padding: 0.5rem;
  margin-left: 1rem;
  border: none;
  background-color: #ece9e9;
}
#input:focus,
#input2:focus {
  outline: none;
}
.input-icon,
.input-icon2 {
  position: absolute;
  padding: 0.5rem;
  background-color: #ddd;
  color: #424242;
  top: 0;
  bottom: 0;
}
.header {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
}

.toast-message {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: rgb(54, 131, 9);
  color: white;
  border: 1px solid rgb(54, 131, 9);
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.toast-message-slide-in {
  animation: toast-animation-in 0.5s ease-in;
}
.toast-message-slide-out {
  animation: toast-animation-out 0.5s ease-in;
}
@keyframes toast-animation-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes toast-animation-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
